#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 0px 20px;
    height: 100%;
    overflow: scroll;
}

#about h1 {
    margin-top: 0;
    text-align: center;
}

#about p {
    line-height: 28px;
    width: 100%;
    font-size: 18px;
}

#about img {
    width: 30px;
}

#about .about-legend {
    display: inline-flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 7px 0 #2E0505;
    padding: 8px 12px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
